
.cld-main{
  width: 400px;
}
.cld-main a{
  color: #AA0000;
}
.cld-main svg{
  fill: #AA0000;

}
  .cld-datetime{
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
    color: #000000;
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    /*NOMBRE DEL MES*/
  }
  .cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;

  }
  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    
    

  }
  .cld-nav:hover{
    cursor: pointer;
  
  }
  .cld-nav:hover svg{
      fill: #000000;
      transition: .3s;
      
  }
  .cld-rwd{
    float: left;
    
  }
  .cld-fwd{
    float: right;
    
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
  
}
  .cld-label, .cld-day{ /*Nombre de los días (LUN, MAR, MIE*/
    font-family: 'Arial';
    font-size: 18px;
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;

  }
  .cld-day{
    font-family: 'Arial Narrow';
    font-style: italic;
    font-size: 18px;
    border: 1px solid none; /*Borde*/
    padding: 1px;
    color: #000000;         /*letra*/

  }
  .cld-day.today .cld-number{
    /*background: #AA0000;
    color: #fff;*/
    background: #000;
    color: #fff;

  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;

  }
    .cld-number{
      position: relative;
      margin: 0;
      padding: 10px;

    }
      .cld-title{
/*CARD*/
        box-shadow:0px 0px 2px #000;

        position: absolute;
        z-index: 5;
        margin-top: 20px;
        height: 40px;
        display: none;
        top: 30px;
        left: 30px;
        padding: 10px 10px;
        background: #fff;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
        text-shadow: none;
        transition: .2s;

      }
      .cld-title a:hover{
        color:black;
        transition: .2s;
      }
      .cld-number:hover .cld-title{
        display: block;


      }
      .cld-title::before{
        content: '';
        position: absolute;
        top: -7.5px; left: 10px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;
        border-bottom: 7.5px solid #ccc;
        transition: .2s;

      }
      .cld-number.eventday{
        font-weight: bold;
        color: #AA0000;
        background: #AA0000;
        color: #fff;
        transition: .2s;
      }
      .cld-number.eventday:hover{ /*Hover de dia evento*/
        cursor: pointer;
        background: #eee;
        color: #AA0000;
        box-shadow: 2px 2px 2px #000;
        text-shadow: none;
        transition: .2s;
        

      }
      .today .cld-number.eventday:hover{
        background: #eee;
        color: #AA0000;
        transition: .2s;

      }
      .today .cld-number.eventday{
        border-style: solid;
        border-color:#AA0000;      /*Si el evento es el día actual*/
        background: #000;
        color: #fff;
        transition: .2s;

      }